# Pythonキャッシュファイル
*.pyc
__pycache__/

# macOS
.DS_Store

# 仮想環境
venv/
.venv/

# 環境変数ファイル
.env

# SQLiteデータベース
db.sqlite3

# メディアファイル（ユーザーアップロードファイル）
media/

# ログファイル
*.log

# マイグレーションの一時ファイル
migrations/*~

.env*

settings.json