asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.0
Django==3.2.13
django-environ==0.4.5
idna==3.10
pillow==11.0.0
pytz==2024.2
requests==2.32.3
sqlparse==0.5.3
stripe==2.60.0
typing_extensions==4.12.2
urllib3==2.2.3