{% extends 'base.html' %} {% block main %}
<div class="container mx-auto px-16 py-8">
    <div class="flex items-center">
        <h1 class="text-2xl font-bold">
            <span class="mr-2 text-2xl">&#x2753;</span>ヘルプ
        </h1>
        <!-- お問い合わせバナー -->
        <div class="ml-auto">
            <a href="/pages/contact" class="block rounded-lg pb-4 text-center text-xl font-bold text-white">
                <img src="https://hareruya2-filepool.s3.amazonaws.com/page/help/img_1912_tbtn01.jpg" alt="お問い合わせ"
                    class="" />
            </a>
        </div>
    </div>
    <div class="mb-6 border-b-2 border-gray-300"></div>
    <h2 class="mb-4 text-lg font-bold">オンラインショップについて</h2>
    <ol class="list-inside list-decimal space-y-2 pl-4 text-base font-bold">
        <li class="py-2">ご注文の流れ</li>
        <li class="py-2">ご注文のキャンセル</li>
        <li class="py-2">状態表記</li>
        <li class="py-2">お支払い方法</li>
        <li class="py-2">クレジットカードでのお支払い</li>
        <li class="py-2">コンビニ決済でのお支払い</li>
        <li class="py-2">購入制限について</li>
        <li class="py-2">追加注文・同梱発送</li>
        <li class="py-2">入金期限</li>
        <li class="py-2">発送方法</li>
        <li class="py-2">商品到着までの日数</li>
        <li class="py-2">配達の日時指定</li>
        <li class="py-2">配送状況の確認</li>
        <li class="py-2">店頭受取</li>
        <li class="py-2">注文したものと違うものが届いた</li>
        <li class="py-2">商品状態の悪いものが届いた</li>
        <li class="py-2">商品欠品時の対応について</li>
        <li class="py-2">頼んでいないカードが大量に入っていた</li>
        <li class="py-2">ポイントについて</li>
        <li class="py-2">当店からのご連絡について</li>
        <li class="py-2">営業日、営業時間</li>
        <li class="py-2">お問い合わせ先</li>
    </ol>

    <div class="my-8 border-b-2 border-gray-300"></div>
    <h2 class="mb-6 text-2xl font-bold">オンラインショップについて</h2>

    <h3 class="mb-4 border-b-2 border-black pb-1 text-xl font-bold">
        1.ご注文の流れ
    </h3>
    <div class="mb-8">
        <h4 class="mb-1 font-bold">1.1：購入したい商品を選ぶ</h4>
        <p>
            購入したい商品が決まりましたら、「カートに追加」ボタンを押してください。買い物かごに追加されます。
        </p>
        <p class="mt-1">
            ※カートに追加した時点では商品の確保とはなりません。注文ステップ完了後の注文確定画面が出た段階で商品確保（ご注文）となります。
        </p>
    </div>
    <div class="mb-8">
        <h4 class="mb-1 font-bold">1.2：買い物かごの確認</h4>
        <p>
            購入する商品が決まりましたら、ページ上部「カート」アイコンより、「購入手続きへ」ボタンを押します。
        </p>
        <p class="mt-1">
            ※銀行振込、郵便振替、クレジットカード、コンビニ払いの場合は、ハレツー通販サイトへの会員登録が必要となります。虚偽の内容を入力した場合は会員資格の停止、お取引を取り消しさせて頂く場合がございます。
        </p>
    </div>
</div>
{% endblock %}