{% extends 'base.html' %} {% block main %}
<div class="mx-auto max-w-4xl px-2 py-16">
  <div class="mb-6 flex flex-col border-b-2 border-[#000000]">
    <div class="mb-6 flex items-center">
      <i class="fas fa-user-circle mr-2 text-4xl text-[#e60012]"></i>
      <h2 class="text-2xl font-bold text-gray-800">ログイン</h2>
    </div>
  </div>
  <div class="rounded bg-white">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <!-- 会員の方 -->
      <div>
        <div class="mb-4 flex items-center border p-2">
          <span class="mr-2 inline-block h-4 w-1.5 rounded-full bg-[#e60012]"></span>
          <span class="text-sm font-bold text-gray-800">会員の方</span>
        </div>
        <p class="mb-10 text-gray-700">
          メールアドレスとパスワードを入力してログインしてください。
        </p>
        <form method="POST" class="space-y-3">
          {% csrf_token %}
          <div>
            <input type="email" name="username" placeholder="メール" required
              class="mx-auto mb-2 block w-80 rounded border border-gray-300 bg-white px-3 py-2 text-base text-gray-700 transition focus:outline-none focus:ring-2 focus:ring-[#e60012]" />
          </div>
          <div>
            <input type="password" name="password" placeholder="パスワード" required
              class="mx-auto mb-12 block w-80 rounded border border-gray-300 bg-white px-3 py-2 text-base text-gray-700 transition focus:outline-none focus:ring-2 focus:ring-[#e60012]" />
          </div>
          <button type="submit"
            class="mx-auto block h-11 w-32 rounded bg-[#e60012] py-2 text-white transition hover:bg-[#c20010]">
            ログイン
          </button>
        </form>
        <div class="mt-3 text-center font-bold">
          <a href="#" class="text-sm text-[#e60012] hover:underline">パスワードをお忘れですか？</a>
        </div>
      </div>
      <!-- 初めての方 -->
      <div>
        <div class="mb-4 flex items-center border p-2">
          <span class="mr-2 inline-block h-4 w-1.5 rounded-full bg-[#e60012]"></span>
          <span class="text-sm font-bold text-gray-800">初めてご利用の方</span>
        </div>
        <p class="mb-12 text-gray-700">
          初めてご利用のお客様は、こちらから会員登録を行って下さい。<br />メールアドレスとパスワードを登録しておくと便利にお買い物ができるようになります。
        </p>
        <a href="/account/signup"
          class="block h-11 w-56 content-center justify-self-center rounded bg-[#e60012] py-2 text-center text-white transition hover:bg-[#c20010]">アカウントを作成する</a>
      </div>
    </div>
  </div>
  <div class="mt-10 text-gray-700">
    <p class="mb-2 font-bold">
      旧サイトで会員登録がお済みの方へ、アカウント有効化のお願い
    </p>
    <p>
      システムの移行に伴い、新サイトに初めてログインする際には「アカウントの有効化」をお願いします。<br />
      <a href="#" class="font-bold text-[#e60012] underline">アカウント有効化ページへ</a>
    </p>
  </div>
</div>
{% endblock %}