<footer class="bg-[#e60012] pb-8 pt-4 text-white">
  <div class="container mx-auto w-3/5 px-4">
    <div class="grid grid-cols-1 gap-8 text-sm md:grid-cols-3">
      <!-- サイトマップ -->
      <div class="mx-10 my-8">
        <h6 class="mb-4 text-base font-bold">サイトマップ</h6>
        <ul class="space-y-1">
          <li>
            <a href="/" class="transition hover:text-yellow-300">オンラインショップ</a>
          </li>
          <li>
            <a href="/pages/buying" class="transition hover:text-yellow-300">店頭買取</a>
          </li>
          <li>
            <a href="https://www.hare2buy.com/" class="transition hover:text-yellow-300" target="_blank">ネット買取</a>
          </li>
          <li>
            <a href="/pages/events" class="transition hover:text-yellow-300">イベント・大会</a>
          </li>
          <li>
            <a href="/pages/store" class="transition hover:text-yellow-300">店舗</a>
          </li>
          <li>
            <a href="/pages/contact" class="transition hover:text-yellow-300">お問い合わせ</a>
          </li>
          <li>
            <a href="/pages/help" class="transition hover:text-yellow-300">ヘルプ</a>
          </li>
        </ul>
      </div>
      <!-- 会社情報 -->
      <div class="mx-10 my-8">
        <h6 class="mb-4 text-base font-bold">会社情報</h6>
        <ul class="space-y-2">
          <li>
            <a href="/pages/terms" class="transition hover:text-yellow-300">利用規約</a>
          </li>
          <li>
            <a href="/pages/recruit" class="transition hover:text-yellow-300">スタッフ募集</a>
          </li>
          <li>
            <a href="/pages/law" class="transition hover:text-yellow-300">特定商取引法表示</a>
          </li>
          <li>
            <a href="/pages/privacy" class="transition hover:text-yellow-300">個人情報保護方針</a>
          </li>
          <li>
            <a href="/pages/company" class="transition hover:text-yellow-300">企業情報</a>
          </li>
        </ul>
      </div>
      <!-- お得な情報 -->
      <div class="mx-10 my-8">
        <h6 class="mb-4 text-base font-bold">お得な情報</h6>
        <ul class="space-y-2">
          <li>
            <a href="/pages/harerume" class="whitespace-nowrap transition hover:text-yellow-300">ハレツメ</a>
          </li>
          <li>
            <a href="/pages/channel" class="whitespace-nowrap transition hover:text-yellow-300">ハレルヤチャンネル</a>
          </li>
          <li>
            <a href="/pages/event-form"
              class="whitespace-nowrap transition hover:text-yellow-300">「イベント開催の手引き」請求フォーム</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- ロゴ -->
    <div class="mt-12 flex flex-col items-center">
      <img src="https://hareruya2-filepool.s3.amazonaws.com/banner/hareruya2logo.png" alt="HARERUYA2"
        class="mb-2 h-20" />
      <div class="text-center text-xs font-bold text-white">
        Copyright© Hareruya All Rights Reserved
      </div>
    </div>
  </div>
</footer>